@font-face {
    font-family: "Vazir";
    src: url("/font/Vazir.eot");
    /* IE9 Compat Modes */
    src: url("../font/Vazir.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/Vazir.woff2") format("woff2"), /* Super Modern Browsers */
    url("../font/Vazir.woff") format("woff"), /* Pretty Modern Browsers */
    url("../font/Vazir.ttf") format("truetype");
    /* Safari, Android, iOS */
}

:root {
    --primary-color: #06b995;
    --secondery-color: #5a6067;
    --light-color: #f3f3f3;
    --dark-color: #333333;
    --max-width: 1200px;
}

.category {
    --nature-color: #2c2c54;
    --animal-color: #ff793f;
}

body {
    font-family: "Vazir";
    line-height: 2;
    background: var(--light-color);
}


/*--Utility--*/

.btn {
    color: #f3f3f3;
    background: var(--primary-color);
    padding: .85rem 1.2rem;
    border-radius: 5px;
    display: inline-block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-color {
    color: #06b995;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
}

ul {
    list-style: none;
}

.bg-primary {
    background: var(--primary-color) !important;
    color: white;
}

.bg-dark {
    background: var(--dark-color) !important;
    color: white !important;
}

a {
    text-decoration: none;
    color: white;
}

.py1 {
    padding: 1rem 0
}

.my1 {
    margin: 1rem 0
}


/*--Navbar--*/

#main-nav {
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: .85rem;
}

#main-nav ul {
    display: flex;
    align-items: center;
    flex-direction: reverse;
}

#main-nav li {
    padding: .26rem 1rem;
    border-radius: 5px;
}

#main-nav a {
    color: white;
}

#main-nav li:hover {
    background: var(--primary-color);
}


/*--showcase--*/

#showcase {
    color: #f3f3f3;
    height: 80vh;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    text-align: center;
    font-weight: bold;
}

#showcase .showcase-container {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    align-items: center;
    justify-content: center;
}

#showcase .btn {
    margin: 1rem 0;
}

#showcase .btn:hover {
    opacity: .9;
}


/*---home---*/

#section1 .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#section1 h2 {
    margin: 1rem 2rem;
}

#section1 img {
    width: 100%;
    border-radius: 15px;
}

#section1 article {
    background-color: #eeeeee;
    border-radius: 15px;
    padding: 5px;
}

#section1 .main article:first-child,
#section1 .main article:last-child {
    display: grid;
    grid-template: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-column: 1 / span 2;
}

#section1 .main article:first-child div:only-child,
#section1 .main article:last-child div:only-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem
}

#section1 .main article:last-child {
    grid-column: 2/span 2;
}


/*---Footer---*/

#main-footer .container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;
}

#main-footer input[type="email"],
#main-footer input[type="submit"] {
    width: 90%;
    padding: .5rem;
    border-radius: 3px;
    font-size: 1rem;
    margin: .25rem 0;
}

#main-footer input[type="submit"] {
    background: var(--primary-color);
}

#main-footer .links a {
    display: block;
    border-bottom: var(--secondery-color) 1px dotted;
    width: 90%;
}

#main-footer .btn {
    padding: .5rem 1rem;
    background: var(--secondery-color);
}

#main-footer .container div:last-child {
    grid-column: 1/span 4;
    background: var(--secondery-color);
    padding: .5rem 0;
    margin: .5rem;
    border-radius: 4px;
}

#main-footer .container div:last-child p {
    text-align: center;
}